html {scroll-behavior: smooth;}
body {
    margin: 0px;
    background-color: #0e0e0e;
    color: #f4f4f4;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Heebo', sans-serif;
}
p,a,li,input,label,textarea,::placeholder{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

/* header */

header {
    height: 112px;
    background-color: #0e0e0e;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px
}

header nav div{
    padding: 0px 10px;
}

header nav div a{
    color: #f4f4f4;
    text-decoration: none;
    transition: all .25s linear;
}

header nav div a:hover{
    border-bottom: solid 4px #072d67;
}

header nav menu{
    list-style: none;
    display: flex;
    padding: 0px 25px;
    margin: 0px;
}

header nav menu li{
    padding: 0px 10px;
}

header nav menu li a{
    color: #f4f4f4;
    text-decoration: none;
    transition: all .25s linear;
}

header nav menu li:hover a{
    border-bottom: solid 4px #072d67;
}

.mobile-nav{display: none;}

/* media query for smaller screens */
@media only screen and (max-width: 750px) {
        
    header .desktop-nav {display: none;}

    header .mobile-nav{
        display: flex;
        align-items: center;
        height: 100px;
    }

    .mobile-nav div:nth-child(1){
        flex-grow: 1;
        height: 100px;
    }

    .mobile-nav div:nth-child(1) a img{
        height: 100%;
    }

    .mobile-nav input + label{
        position:fixed;
        top: 55px;
        right: 40px;
        height: 20px;
        width: 25px;
        z-index: 5;
    }

    .mobile-nav input + label span{
        position: absolute;
        width: 100%;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        left: 0;
        display: block;
        transition: 0.5s;
        background: #f4f4f4;
    }

    .mobile-nav input + label span:first-child{
        top: 3px;
    }

    .mobile-nav input + label span:last-child{
        top: 16px;
    }

    .mobile-nav label:hover{
        cursor: pointer;
    }

    .mobile-nav input:checked + label span{
        opacity: 0;
        top: 50%;
        color: #0e0e0e;
    }

    .mobile-nav input:checked + label span:first-child{
        opacity: 1;
        transform: rotate(-405deg)
    }

    .mobile-nav input:checked + label span:last-child{
        opacity: 1;
        transform: rotate(405deg)
    }

    .mobile-nav input ~ nav{

        background:#0e0e0e;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 125px;
        z-index: 3;
        transition: .5s;
        transition-delay: .5s;
        overflow: hidden;
        padding:15px;

    }

    .mobile-nav input ~ nav > menu{
        text-align: center;
        position:absolute;
        top:10%;
        left: 20%;
        right: 20%;
        list-style:none;
        display:flex;
        flex-direction: column;
    }

    .mobile-nav input ~ nav > menu > li{
        opacity: 0;
        transition: 0.5s;
        transition-delay: 0s;
    }

    .mobile-nav input ~ nav > menu > li > a{
        text-decoration: none;
        text-transform: uppercase;
        color: #f4f4f4;
        font-weight: bold;
        display:flex;
        flex-direction: column;
        padding: 30px;
    }

    .mobile-nav input:checked ~ nav{
        height: 70%;
        transition-delay: 0s;
    }

    .mobile-nav input:checked ~ nav > menu > li{
        opacity: 1;
        height: 100%;
        transition-delay: 0s;
    }

      
    }
/* Main */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 100px 0;
    background-image: linear-gradient(to bottom, #072d67, #0e0e0e);
}

.hero h1 {
    font-size: 92px;
    color: #f4f4f4;
    text-shadow: 4px 2px 4px rgb(0 0 0 /50%);
    margin-top: 0;
    margin-bottom: 10px;
}

.hero h3 {
    color: #f4f4f4;
    text-shadow: 4px 2px 4px rgb(0 0 0 /50%);
    margin-top: 50px;
    /* position: relative; */
    text-align: center;
}

.hero .arrows {
    position: flex;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 80px;
    /* cursor:pointer; */
}


.hero .arrows::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 20px;
    height: 20px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hero .arrows::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 100%;
    transform: translate(-50%, -50%) rotate(225deg);
    width: 20px;
    height: 20px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.hero .scroll-down {
    color: #fff;
    position: flex;
    margin-top:40px;
    font-size: 20px;
    font-family: Consolas, monospace;
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
}
  
  .hero:hover .arrows::after,  .hero:hover .arrows::before, .hero:hover .scroll-down{
    opacity: 1;
}



/* Summary */

.summary {
    display: grid;
    grid-template-columns: repeat(2 ,50%);
    min-height: 75vh;
    align-items: center;
    text-align: center;
}
  
.sum-title {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sum-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/programming.jpg);
    background-size: cover;
    background-color: #0e0e0e;
    opacity: 0.5; /* Change the opacity value as needed */
    z-index: -1;
    border-radius: 50px;
}

.sum-title h3 {
    font-size: 35px;
    text-shadow: 4px 2px 4px rgb(0 0 0 /100%);
}

.sum-content {
    margin: 10px;
    padding: 10px;
}

.sum-content p {
    text-align: justify;
    padding: 10px;
}

/* Skills */

.skills {
    display: grid;
    grid-template-columns: repeat(2 ,50%);
    min-height: 40vh;
    align-items: center;
    color: #0e0e0e;
}


.skills .skills-title {
    position: relative;
    padding: 10px;
    margin: 10px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 1;
}

.skills .skills-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/coding-languages-image.jpeg);
    background-size: cover;
    background-color: #0e0e0e;
    opacity: 0.5; /* Change the opacity value as needed */
    z-index: -1;
    border-radius: 50px;
}



.skills .skills-title h3 {
    color: #f5f5f5;
    font-size: 35px;
    text-shadow: 4px 2px 4px rgb(0 0 0 /100%);
}

.skills .chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.skills .chart-container .skill-chart {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 40%;
}

.skills .chart-container .skill-chart h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.skills .chart-container .skill-chart ul {
    margin: 0;
    padding: 0;
    list-style:none;
}

.skills .chart-container .skill-chart ul li {
    margin-bottom: 10px;
}

.skills .chart-container .skill-chart .skill-name {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.skills .chart-container .skill-chart .skill-bar {
    display: inline-block;
    width: 200px;
    height: 20px;
    background-color: #f5f5f5;
    position: relative;
}

.skills .chart-container .skill-chart .skill-level {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #072d67;
    width: 0%;
    border-radius: 10px;
    transition: all .5s linear;
}

.skills .chart-container .skill-chart .skill-level:hover {
    background-color: #0e0e0e;
}

/* Media queries for responsiveness */

@media (max-width: 767px) {
    /* altera o layout para uma coluna */
    .hero {
      flex-direction: column;
      justify-content: center;
      padding: 50px 0;
    }
    
    .hero h1 {
      font-size: 48px;
      margin-bottom: 20px;
    }
    
    .hero h3 {
      margin-top: 20px;
      font-size: 24px;
    }
    
    .hero .arrows {
      margin-top: 20px;
      width: 20px;
      height: 40px;
    }
    
    .hero .arrows::before {
      top: 20%;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
    }
    
    .hero .arrows::after {
      top: 90%;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
    }
    
    .hero .scroll-down {
      margin-top: 30px;
      font-size: 16px;
    }
    
    .summary, .skills {
        display: block;
        min-height: auto;
    }

    .skills .chart-container {
        flex-wrap: wrap;
    }

    .skills .chart-container .skill-chart {
        width: 90%;

    }

    .skills .chart-container .skill-chart .skill-name {
        width: 80px;
    }

    .skills .chart-container .skill-chart .skill-bar {
        width: 150px;
        margin-left: 10px;
    }

  }
  


/* Projects page */

.proj-section{
    align-items: center;
}

.proj-section h1{
    text-align: center;
}
table {
    width: 100%;
    max-width: 1600px; /* Optional, set the maximum width of the table */
    margin: 0 auto; /* Center the table */
}
  
tr td {
    width: 25%; /* Set each column to occupy 50% of the table width */
    padding: 20px;
    box-sizing: border-box;
}

tr td a {
    text-decoration: none;
    color: #f4f4f4;
}
  
tr td a img {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Prevent the image from stretching */
    display: block; /* Remove any default spacing between image and paragraph */
    margin: 0 auto 20px; /* Center the image and add some bottom margin */
    border-radius: 10px;
    filter:grayscale(50%);
    transition: all 0.5s linear;
}

tr td a img:hover {
    filter: grayscale(0%);
    box-shadow: 0px 0px 20px #f4f4f4c9;
    transition: all 0.25s linear;
}
tr td a p {
    text-align: center;
}

@media (max-width: 767px) {
    .proj-section{
        margin-top: 10%;
    }
    table{
        max-width: 100%;
    }
    tr td{
        max-width: 80%;
    }
    tr td a img {
        max-width: 100%; /* Make the image responsive */
        margin: 0 auto 10px; /* Center the image and add some bottom margin */
        border-radius: 5px;
    }
    
}

/* Experience section */

.education, .professional{
    display: grid;
    grid-template-columns: repeat(2 ,50%);
    min-height: 40vh;
    align-items: center;
}

.education .edu-title {
    position: relative;
    padding: 10px;
    margin: 10px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.education .edu-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/education8.jpg);
    background-size:cover;
    background-position: 50% 50%; 
    background-color: #0e0e0e;
    opacity: 0.5; /* Change the opacity value as needed */
    z-index: -1;
    border-radius: 50px;
}


.education .edu-title h3 {
    text-align: left;
    font-size: 30px;
    text-shadow: 4px 2px 4px rgb(0 0 0 /60%);
}

.education .edu-content {
    padding: 20px;
    margin-left: 20px;
}

.education .edu-content p{
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 20px;
}


.professional .pro-title {
    position: relative;
    padding: 10px;
    margin: 10px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 1;
}

.professional .pro-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/professional.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-color: #0e0e0e;
    opacity: 0.5;
    z-index: -1;
    border-radius: 50px;
}

.professional .pro-title h3 {
    font-size: 30px;
    text-shadow: 4px 2px 4px rgb(0 0 0 /60%);
}

.professional .pro-content {
    padding: 20px;
    margin: 10px;
    font-size: 18px;
    grid-column-start: 1;
}

.professional .pro-content p, .professional .pro-content li{
    font-size: 15px;
    line-height: 20px;
}

@media screen and (max-width: 750px) {
    .education{
        margin-top: 10%;
    }
    .professional, .education{
        display: block;
        min-height: auto;
    }
    .edu-title, .pro-title{
        min-height: 150px;
    }

    .pro-content, .edu-content {
        margin-left: 0;
        padding: 0 20px;
    }

}

/* About section */

.about-me {
    display: grid;
    grid-template-columns: repeat(2 ,50%);
    min-height: 40vh;
    align-items: center;
}

.about-me .about-title {
    position: relative;
    padding: 10px;
    margin: 10px;
    height: 90%;
    display: flex;
    align-items: top;
    justify-content: left;
}

.about-me .about-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url(../img/Sergio.jpg);
    background-size:cover;
    background-position: 50% 50%;
    background-color: #0e0e0e;
    opacity: 0.7; /* Change the opacity value as needed */
    z-index: -1;
    border-radius: 50px;
}



.about-me .about-title h3 {
    font-size: 35px;
    color: #f4f4f4;
    text-shadow: 4px 2px 4px rgb(0 0 0 /30%);
    margin-left: 30px;
}

.about-me .about-content {
    padding: 30px;
    text-align: justify;
}

.future-plans {
    padding: 20px 80px;
    text-align: justify;
}

/* Contact Section */

.contact-me {
    display: grid;
    grid-template-columns: repeat(2 ,50%);
    min-height: 40vh;
    align-items: center;    
}

.contact-me .contact-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#d0d0d0;
    border-radius: 50px;
    height: 50%;
    width: 50%;
    margin-left: 25%;
}

.contact-me .contact-title h2{
    font-size: 40px;
    color: #0e0e0e; 
    text-shadow: 4px 2px 4px rgb(0 0 0 /20%);   
}

.contact-me .contact-form {
    display: flex;
    align-items: center;
    justify-content: center;      
}

.contact-me .contact-form form {
    background-color:#d0d0d0;
    color: #0e0e0e;
    width: 70%;
    min-height: 75vh;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.contact-me .contact-form form div {
    display: flex;
    align-items: center;
    margin: 40px;
}

.contact-me .contact-form form label {
    display: block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

.contact-me .contact-form form input,
.contact-me .contact-form form textarea {
    flex-grow: 1;
    border-radius: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.contact-me .contact-form form textarea {
    height: 300px;
    resize: vertical;
    margin-bottom: 10px;
}

.contact-me .contact-form form button[type="submit"] {
    background-color: #444f5e; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
  
.contact-me .contact-form form button[type="submit"]:hover {
    background-color: #072d67; /* Dark blue */
}

@media screen and (max-width: 750px) {
    .contact-me {
        grid-template-columns: 1fr;
        margin-top: 10%;
    }

    .contact-me .contact-form form {
        width: 90%;
        margin: 10px;
        font-size: 14px;
    }

    .contact-me .contact-form form div {
        margin: 20px;
    }
}

  
  

/* FOOTER */

footer {
    background-color: #072d67;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.social-menu {
    position: absolute;
    bottom: 0;
    right: 0;
}
  
.social-menu ul {
    list-style: none;
    display: flex;
}
  
.social-menu li {
    margin-right: 10px;
}
  
.social-menu li a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
  
.social-menu a:hover {
    color: #000;
}
  
.text-center {
    text-align: center;
    font-size: 15px;
}
  
  